<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
444444
<ul>
    <li><a href="/hw_001.html">hw_001</a></li>
    <li><a href="/hw_002.html">hw_002</a></li>
    <li><a href="/hw_003.html">hw_003</a></li>
    <li><a href="/hw_004.html">hw_004</a></li>
    <li><a href="/hw_005.html">hw_005</a></li>
    <li><a href="/hw_006.html">hw_006</a></li>
    <li><a href="/hw_007.html">hw_007</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>
<pre>
    * 优先级的规则
     * 		内联样式 ， 优先级  1000
     * 		id选择器，优先级   100
     * 		类和伪类， 优先级   10
     * 		元素选择器，优先级 1
     * 		通配* ，    优先级 0
    强制改变优先级  !important
</pre>
</body>
</html>