<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>2列固定宽度左窄右宽型+头部+导航+尾部——<a href="http://www.aa25.cn">标准之路www.aa25.cn</a></title>
<link href="layout.css" rel="stylesheet" type="text/css" />
<meta name="Keywords" content="标准之路,www.aa25.cn,网页标准布局,DIV+CSS" />
<meta name="" content="标准之路,www.aa25.cn,网页标准布局,DIV+CSS" />
<meta name="author" content"×××,有问题请到www.68css.cn网站留言" />
<meta name="Description" content="本套网页标准布局模板是由标准之路（www.aa25.cn）制作完成，如果您要转载，请保留版权" />
</head>

<body>
<div id="container">
  <div id="header">This is the Header</div>
  <div id="menu">This is the Menu</div>
  <div id="mainContent">
    <div id="sidebar">This is the sidebar</div>
    <div id="content">2列固定宽度左窄右宽型+头部+导航+尾部——<a href="http://www.aa25.cn">标准之路www.aa25.cn</a></div>
  </div>
</div>
</body>
</html>
