<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            font-size: 14px;
            margin: 0;
            padding: 0;
        }

        #container {
            /*父元素设置了宽度以后,所有的子元素都会继承其宽度*/
            margin: 0 auto;
            width: 900px;
        }

        #header {
            height: 100px;
            background: #6cf;
            margin-bottom: 5px;
        }

        #mainContent {
            height: 500px;
            background: #cff;
        }
    </style>
</head>
<body>
<!--用一个大的div包住所有的布局元素,是一种优秀的设计模式-->
<div id="container">
    <div id="header">头部</div>
    <div id="mainContent">
        <h1>1列固定宽度居中+头部</h1>
    </div>
</div>
</body>
</html>