<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            font-size: 14px;
            margin: 0;
            padding: 0;
        }

        #container {
            margin: 0 auto;
            width: 900px;
            height: 500px;
            background: #6cf;
        }
    </style>
</head>
<body>
<div id="container">
    <h1>布局练习:1列固定宽度居中</h1>
</div>
</body>
</html>