<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
5555555555
<ul>
    <li><a href="/hw_001.html">hw_001_a标签,超链接讲解</a></li>
    <li><a href="/hw_002.html">hw_002_h开头的标题类标签</a></li>
    <li><a href="/hw_003.html">hw_003_p段落标签</a></li>
    <li><a href="/hw_004.html">hw_004_图片标签</a></li>
    <li><a href="/hw_005.html">hw_005_换行标签</a></li>
    <li><a href="/hw_006.html">hw_006_div居中对齐属性</a></li>
    <li><a href="/hw_007.html">hw_007_个人博客页面练习</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>
<pre>
    常见的换行标签有
        br 直接换行
        hr 画一根横线再换行
</pre>
<p>
    段落标签需要换行
    段落标签需要换行
    段落标签需要换行
    段落标签需要换行
    段落标签需要换行
    段落标签需要换行
    <br>
    第一种换行
    段落标签需要换行 <br>
    段落标签需要换行 <br>
    段落标签需要换行 <br>
    段落标签需要换行 <br>
    段落标签需要换行 <br>
    段落标签需要换行 <br>
    第二种换行
    段落标签需要换行
<hr>
段落标签需要换行
<hr>
段落标签需要换行
<hr>
段落标签需要换行
<hr>
段落标签需要换行
<hr>
段落标签需要换行
<hr>
</p>
</body>
</html>