<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
1111
<ul>
    <li><a href="/hw_001.html">hw_001_a标签,超链接讲解</a></li>
    <li><a href="/hw_002.html">hw_002_h开头的标题类标签</a></li>
    <li><a href="/hw_003.html">hw_003_p段落标签</a></li>
    <li><a href="/hw_004.html">hw_004_图片标签</a></li>
    <li><a href="/hw_005.html">hw_005_换行标签</a></li>
    <li><a href="/hw_006.html">hw_006_div居中对齐属性</a></li>
    <li><a href="/hw_007.html">hw_007_个人博客页面练习</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>
<pre>
    a标签是前端界面最常用的标签,用来从一个页面跳转到另一个页面
</pre>
<a href="#">第一种a标签</a>
<a href="javascript:;">第二种a标签</a>
<a href="http://lxgzhw520.com">第三种a标签</a>
<a href="/hw_002.html">第四种a标签</a>
</body>
</html>