<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
7777777777
<ul>
    <li><a href="/hw_001.html">hw_001_a标签,超链接讲解</a></li>
    <li><a href="/hw_002.html">hw_002_h开头的标题类标签</a></li>
    <li><a href="/hw_003.html">hw_003_p段落标签</a></li>
    <li><a href="/hw_004.html">hw_004_图片标签</a></li>
    <li><a href="/hw_005.html">hw_005_换行标签</a></li>
    <li><a href="/hw_006.html">hw_006_div居中对齐属性</a></li>
    <li><a href="/hw_007.html">hw_007_个人博客页面练习</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>
<div align="center">
    <h1>这是我的个人博客</h1>
    <hr>
    <h2>博客标题</h2>
    <a href="http://lxgzhw520.com">理想国真恵玩</a>
    <p>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555552761218&di=5e2c56b7e866d17ce38a66a287e73fc8&imgtype=0&src=http%3A%2F%2Ftx3-f.netease.com%2Fforum%2F201902%2F01%2F072255qc1lttp6tpucgpet.jpg" alt="图片" width="300px">
        <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555552761218&di=5e2c56b7e866d17ce38a66a287e73fc8&imgtype=0&src=http%3A%2F%2Ftx3-f.netease.com%2Fforum%2F201902%2F01%2F072255qc1lttp6tpucgpet.jpg" alt="图片" width="300px">
        <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        一行描述文字,需要换行了,进行换行 <br>
        <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555552761218&di=5e2c56b7e866d17ce38a66a287e73fc8&imgtype=0&src=http%3A%2F%2Ftx3-f.netease.com%2Fforum%2F201902%2F01%2F072255qc1lttp6tpucgpet.jpg" alt="图片" width="300px">
        <br>

    </p>
    <hr>
    友情链接: <a href="">理想国真恵玩</a>|<a href="">游戏App</a>|<a href="">游戏App</a>|<a href="">游戏App</a>
    <br>
    <br>
    <a href="">回到顶部</a>|<a href="">联系我们</a>
</div>
</body>
</html>