<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
6666666
<ul>
    <li><a href="/hw_001.html">hw_001_a标签,超链接讲解</a></li>
    <li><a href="/hw_002.html">hw_002_h开头的标题类标签</a></li>
    <li><a href="/hw_003.html">hw_003_p段落标签</a></li>
    <li><a href="/hw_004.html">hw_004_图片标签</a></li>
    <li><a href="/hw_005.html">hw_005_换行标签</a></li>
    <li><a href="/hw_006.html">hw_006_div居中对齐属性</a></li>
    <li><a href="/hw_007.html">hw_007_个人博客页面练习</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>
<pre>
    div的居中对齐
</pre>
<div align="center">
    <p>段落</p>
    <a href="">超链接</a>
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555552761218&di=5e2c56b7e866d17ce38a66a287e73fc8&imgtype=0&src=http%3A%2F%2Ftx3-f.netease.com%2Fforum%2F201902%2F01%2F072255qc1lttp6tpucgpet.jpg" alt="图片" width="300px">
</div>
</body>
</html>