<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            font-size: 12px;
            margin: 0;
        }

        #container {
            width: 900px;
            margin: 0 auto;
        }

        #sidebar, #content {
            height: 500px;
            width: 49%;
            float: left;
            margin: 1px;
        }

        #sidebar {
            background: #6cf;
        }

        #content {
            background: #ccf;
        }
    </style>
</head>
<body>
<div id="container">
    <div id="sidebar">边栏</div>
    <div id="content">2列固定宽度居中平分型</div>
</div>
</body>
</html>