<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        body {
            font-size: 14px;
            margin: 0;
        }

        #container {
            width: 900px;
            margin: 0 auto;
        }

        #content {
            height: 500px;
            width: 695px;
            float: left;
            background: #6cf;
        }

        #sidebar {
            height: 500px;
            /*900-695*/
            width: 200px;
            float: right;
            background: #cff;
        }
    </style>
</head>
<body>
<div id="container">
    <div id="content">
        <h1>2列固定宽度居中,右窄左宽型</h1>
    </div>
    <div id="sidebar">右侧</div>
</div>
</body>
</html>