<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>首页</h1>
<!--段落标签+a标签  a标签是超链接 一个链接对应一个路由-->
<ul>
    <li><a href="/hw_001.html">hw_001_常见的伪类选择器</a></li>
    <li><a href="/hw_002.html">hw_002_伪元素</a></li>
    <li><a href="/hw_003.html">hw_003_属性选择器</a></li>
    <li><a href="/hw_004.html">hw_004_选择器复习</a></li>
    <li><a href="/hw_005.html">hw_005</a></li>
    <li><a href="/hw_006.html">hw_006</a></li>
    <li><a href="/hw_007.html">hw_007</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>
</body>
</html>