/*��ģ�����ɱ�׼֮·(www.aa25.cn)�ġ������������*/
/*����ˮƽ���ޣ�ʹ����Ը��������ʹ�ô�ģ����ɵ��κκ�����κ�����*/
/*�������ת�ش���Դ���뱣����<a href="http://www.aa25.cn">��׼֮·www.aa25.cn</a>�������Ӽ���Ȩ��ʶ*/
/*���и��õĽ����������뵽www.aa25.cn���ԣ����˾������*/
/*2008-8-28*/
body {
    font-family: Verdana;
    font-size: 14px;
    margin: 0;
}

#container {
    margin: 0 auto;
    width: 900px;
    height: 500px;
    background: #6cf;
}
