<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div {
            width: 100px;
            height: 100px;
            background: gold;
        }

        span {
            /*行内元素无法设置宽高*/
            width: 100px;
            height: 100px;
            background: greenyellow;
        }
    </style>
</head>
<body>
444444
<ul>
    <li><a href="/hw_001.html">hw_001</a></li>
    <li><a href="/hw_002.html">hw_002</a></li>
    <li><a href="/hw_003.html">hw_003</a></li>
    <li><a href="/hw_004.html">hw_004</a></li>
    <li><a href="/hw_005.html">hw_005</a></li>
    <li><a href="/hw_006.html">hw_006</a></li>
    <li><a href="/hw_007.html">hw_007</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>

<div>
    会独占一行的叫块元素
</div>
<span>不会独占一行的叫行内元素</span>
</body>
</html>