<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择器连接符号总结</title>
</head>
<body>
	<pre>
		1.以空格连接 后代选择器
		2.以''空字符串连接(中间什么都没有) 交集选择器
		3.以>大于符号连接 子类选择器
		4.以,逗号连接 并集选择器
	</pre>
5555555555
<ul>
    <li><a href="/hw_001.html">hw_001</a></li>
    <li><a href="/hw_002.html">hw_002</a></li>
    <li><a href="/hw_003.html">hw_003</a></li>
    <li><a href="/hw_004.html">hw_004</a></li>
    <li><a href="/hw_005.html">hw_005</a></li>
    <li><a href="/hw_006.html">hw_006</a></li>
    <li><a href="/hw_007.html">hw_007</a></li>
    <li><a href="/hw_008.html">hw_008</a></li>
    <li><a href="/hw_009.html">hw_009</a></li>
    <li><a href="/hw_010.html">hw_010</a></li>
</ul>
</body>
</html>